.main-nav nav{
    display: block;
    padding:0rem;
  }
  .main-nav a{
    color:white;
    text-decoration: none;
    transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
  }
  .main-nav a:hover{
    color: #D89E00;
    transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
  }
  .main-nav ul{
      margin:0;
      padding:0;
      display: block;
      list-style-type:none;
  }
  .main-nav li{
      display: inline-block;
      margin: 0;
      padding: 0.45rem;
      background-color: #0D1926;
      color: white;
  }